/* style.css */
body {
  background-image: url('/src/assets/mountain.jpg');
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #694d99;
  height: 100%; 
  position: fixed; 
  overflow: auto;
}

nav button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
}

section {
  padding: 60px 20px;
  margin-left: 225px;
  min-height: 100vh;
  scroll-margin-top: 60px;
  overflow: auto;
}

h1, h2, h3 {
  color: #2c3e50;
}

button {
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #888888;
}